# Node modules
/node_modules/

# Директории и файлы конфигурации IDE
/.idea/
/.vscode/
/*.iml

# Системные файлы
Thumbs.db
.DS_Store

# Логи
*.log

# Временные файлы
*.tmp

# Игнорируем скомпилированные файлы
/dist/
/build/

# Игнорируем временные файлы операционной системы
*.swp
*.swo
*~

# Игнорируем файлы сборки
/public/production/
